* {
  box-sizing: border-box;
}

body {
  background-color: #eafafa;
  text-align: center;
  justify-content: center;
}

#memoryBoard {
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  height: 100%;
  width: 100%;
}

#memoryBoard > div {
  background: url("avatar/william.jpg") no-repeat;
  background-size: 80px 80px;
  border: 1px solid;
  border-radius: 5px;
  width: 80px;
  height: 80px;
  float: left;
  margin: 5px;
  padding: 5px;
  cursor: pointer;
  transition: transform 1s;
  transform-style: preserve-3d;
  transform-origin: 50% 50%;
}

.wrapper {
height: auto;
border: 1px solid grey;
border-radius: 5px;
display: inline-flex;
position: relative;
perspective: 800px;
}

h1, h3, p {
  font-family: Georgia;
}

img {
  height: 60px;
  width: 60px;
}

#reloadButton {
  border: 1px solid grey;
  border-radius: 5px;
  background-color: white;
  font-family: Georgia;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  height: 25px;
  width: auto;
  display: inline-block;
  padding: 3px;
  cursor: pointer;
}

@media screen and (min-width: 564px){
  .wrapper {
    width: 375px;
  }
}

@media screen and (max-width: 563px){
  .wrapper {
    width: 284px;
  }
}
