* {
  box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
  text-align: center;
  justify-content: center;
}

.memoryBoard {
  height: 80px;
  width: 80px;
  background-color: white;
  border-radius: 5px;
  padding: 5px;
}

.memoryBoard > div {
  background: url(william.jpg) no-repeat;
  border: 1px solid;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  float: left;
  margin: 5px;
  padding: 5px;
  cursor: pointer;
}

img {
  height: 100%;
  width: 100%;
}

.wrapper {
width: 50%;
height: 540px;
border: 1px solid grey;
border-radius: 5px;
display: inline-flex;
}

h1, p {
  font-family: Palatino Linotype;
}
